# dependencies
./HelloReact/hello-react/node_modules
./HelloReact/hello-react/.pnp
./HelloReact/hello-react/.pnp.js

# testing
./HelloReact/hello-react/coverage

# production
./HelloReact/hello-react/build

# misc
./HelloReact/hello-react/.DS_Store
./HelloReact/hello-react/.env.local
./HelloReact/hello-react/.env.development.local
./HelloReact/hello-react/.env.test.local
./HelloReact/hello-react/.env.production.local

./HelloReact/hello-react/npm-debug.log*
./HelloReact/hello-react/yarn-debug.log*
./HelloReact/hello-react/yarn-error.log*